.bg-brown{
    background-color: #B28A5E;
}
.circle{
    border: 2px solid white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.circle:hover{    
    background-color: #DC3545;    
}

.fs-s{
    font-size: 12px;
}